* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

.body1 {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden; 
}

/*Created by Osorina Irina; Altered by me for CSS*/
.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw; 
  filter: blur(8px);
}

.star {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(8px);
  overflow: hidden; }
  .star::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 3s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); }
  .star:nth-child(1) {
    margin-left: -15%; }
    .star:nth-child(1)::after {
      animation-delay: 2.1s; }
  .star:nth-child(4) {
    margin-left: -30%; }
    .star:nth-child(4)::after {
      animation-delay: 3.2s; }
  .star:nth-child(3) {
    margin-left: 15%; }
    .star:nth-child(3)::after {
      animation-delay: 2.7s; }
  .star:nth-child(5) {
    margin-left: 30%; }
    .star:nth-child(5)::after {
      animation-delay: 1.7s; }
  .star:nth-child(6) {
    margin-left: 45%; }
    .star:nth-child(6)::after {
      animation-delay: .7s; }
  .star:nth-child(7) {
    margin-left: -45%; }
    .star:nth-child(7)::after {
      animation-delay: 3.9s; }
  @keyframes drop {
  0% {
    top: -50%; }
  100% {
    top: 110%; } }

    /*Created by Rune Sejer Hoffman; Altered by me for CSS*/
    .wrap {
      perspective-origin: 50% 50%;
   }
    .page {
      margin: 3%;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      padding: 30px;
      border-radius: 3px;
      text-align: center;
      font-size: 1.4vw;
   }
    .svg {
      stroke: #4a4a4a;
      position: absolute;
      bottom: -100vh;
      transform-style: preserve-3d;
      
   }
    .svg:nth-child(1) {
      left: 5%;
      animation: raise1 20s linear infinite;
      animation-delay: -2s;
      transform: scale(-0.3) rotate(133deg);
      z-index: 5;
      filter: blur(6px);
   }
    @keyframes raise1 {
      to {
        bottom: 150vh;
        transform: scale(-0.3) rotate(208deg);
     }
   }
    .svg:nth-child(2) {
      left: 13%;
      animation: raise2 10s linear infinite;
      animation-delay: -2s;
      transform: scale(0) rotate(309deg);
      z-index: 5;
      filter: blur(6px);
   }
    @keyframes raise2 {
      to {
        bottom: 150vh;
        transform: scale(0) rotate(53deg);
     }
   }
    .svg:nth-child(3) {
      left: 32%;
      animation: raise3 9s linear infinite;
      animation-delay: 0s;
      transform: scale(0.3) rotate(104deg);
      z-index: 5;
      filter: blur(6px);
   }
    @keyframes raise3 {
      to {
        bottom: 150vh;
        transform: scale(0.3) rotate(151deg);
     }
   }
    .svg:nth-child(4) {
      left: 33%;
      animation: raise4 13s linear infinite;
      animation-delay: -2s;
      transform: scale(0.6) rotate(63deg);
      z-index: 5;
      filter: blur(6px);
   }
    @keyframes raise4 {
      to {
        bottom: 150vh;
        transform: scale(0.6) rotate(264deg);
     }
   }
    .svg:nth-child(5) {
      left: 58%;
      animation: raise5 15s linear infinite;
      animation-delay: -4s;
      transform: scale(0.9) rotate(194deg);
      z-index: 5;
      filter: blur(6px);
   }
    @keyframes raise5 {
      to {
        bottom: 150vh;
        transform: scale(0.9) rotate(272deg);
     }
   }
    .svg:nth-child(6) {
      left: -1%;
      animation: raise6 14s linear infinite;
      animation-delay: -2s;
      transform: scale(1.2) rotate(346deg);
      z-index: 5;
      filter: blur(6px);
   }
    @keyframes raise6 {
      to {
        bottom: 150vh;
        transform: scale(1.2) rotate(113deg);
     }
   }
    .svg:nth-child(7) {
      left: 53%;
      animation: raise7 18s linear infinite;
      animation-delay: 0s;
      transform: scale(1.5) rotate(225deg);
      z-index: 5;
      filter: blur(6px);
   }
    @keyframes raise7 {
      to {
        bottom: 150vh;
        transform: scale(1.5) rotate(186deg);
     }
   }
    .svg:nth-child(8) {
      left: 16%;
      animation: raise8 12s linear infinite;
      animation-delay: -3s;
      transform: scale(1.8) rotate(96deg);
      z-index: 5;
      filter: blur(6px);
   }
    @keyframes raise8 {
      to {
        bottom: 150vh;
        transform: scale(1.8) rotate(143deg);
     }
   }
    .svg:nth-child(9) {
      left: 93%;
      animation: raise9 8s linear infinite;
      animation-delay: -3s;
      transform: scale(2.1) rotate(304deg);
      z-index: 5;
      filter: blur(6px);
   }
    @keyframes raise9 {
      to {
        bottom: 150vh;
        transform: scale(2.1) rotate(90deg);
     }
   }
    .svg:nth-child(10) {
      left: 12%;
      animation: raise10 14s linear infinite;
      animation-delay: -1s;
      transform: scale(2.4) rotate(242deg);
      z-index: 5;
      filter: blur(6px);
   }
    @keyframes raise10 {
      to {
        bottom: 150vh;
        transform: scale(2.4) rotate(143deg);
     }
   }
  
@keyframes fadeIn {
  0% {
    opacity: 0%;
    bottom: -150%;
  }
  40% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    bottom: 20%;
  }
}

@keyframes breath {
  0% {
    scale: .5;
  }
  50% {
    scale: .53;
  }
  100%{
    scale: .5;
  }
}
@keyframes bigger1 {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}
@keyframes getDark {
  0% {
    opacity: 60%;
  }
  100% {
    opacity: 100%;
  }
}
  
.title { 
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 8%;
  margin: -5vh 0 0 -15vh;
  animation: 1s ease-out 0s 1 fadeIn, 4s ease-out 0s infinite breath;
  z-index: 10;
  scale: .5;
  user-select: none;
  }

@keyframes fade1 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
@keyframes fadeOval {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100%{
    opacity: 75%;
  }
}

@font-face {
  font-family: "pasti";
  src: url("./Spell-It-Faster/Fonts/journeyman-line-webfont.woff") format("woff");
}

.menu {
  position: absolute;
  left: 50%;
  bottom: -10%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "pasti";
  font-size: 50pt;
  color: beige;
  z-index: 10;
  user-select: none;
}

.play {
  z-index: 11;
  animation: 2s ease-out 0s 1 fade1;
}
#playGroup {
  margin-bottom: 0px;
}
#playGroup:hover{
  z-index: 11;
  animation: .3s ease-in-out 0s 1 bigger1;
  animation-fill-mode:forwards;
}
#oval1:hover{
  opacity: 100%;
  background: radial-gradient(ellipse at center, rgb(146, 140, 140), transparent, transparent);
}
#play:hover + #oval1{
  opacity: 100%;
  background: radial-gradient(ellipse at center, rgb(146, 140, 140), transparent, transparent);
}

.bio {
  z-index: 11;
  animation: 2.5s ease-out 0s 1 fade1;
}
#bioGroup {
  margin-top: 10px;
}
#bioGroup:hover {
  z-index: 11;
  animation: .3s ease-in-out 0s 1 bigger1;
  animation-fill-mode:forwards;
}
#oval2:hover{
  opacity: 100%;
  background: radial-gradient(ellipse at center, rgb(146, 140, 140), transparent, transparent);

}
#bio:hover + #oval2{
  opacity: 100%;
  background: radial-gradient(ellipse at center, rgb(146, 140, 140), transparent, transparent);

}

.controls {
  z-index: 11;
  animation: 3s ease-out 0s 1 fade1;
}
#controlsGroup {
  margin-top: 10px;
}
#controlsGroup:hover {
  z-index: 11;
  animation: .3s ease-in-out 0s 1 bigger1;
  animation-fill-mode:forwards;
}
#oval3:hover{
  opacity: 100%;
  background: radial-gradient(ellipse at center, rgb(146, 140, 140), transparent, transparent);
}
#controls:hover + #oval3{
  opacity: 100%;
  background: radial-gradient(ellipse at center, rgb(146, 140, 140), transparent, transparent);
}

.credits {
  z-index: 11;
  animation: 3.5s ease-out 0s 1 fade1;
}
#creditsGroup {
  margin-top: 10px;
}
#creditsGroup:hover {
  z-index: 11;
  animation: .3s ease-in-out 0s 1 bigger1;
  animation-fill-mode:forwards;
}
#oval4:hover{
  opacity: 100%;
  background: radial-gradient(ellipse at center, rgb(146, 140, 140), transparent, transparent);
}
#credits:hover + #oval4{
  opacity: 100%;
  background: radial-gradient(ellipse at center, rgb(146, 140, 140), transparent, transparent);
}

.oval {
  width: 640px;
  height: 100px;
  transform: translate(-21%, -81%);
  position: absolute;
  z-index: -10;
  opacity: 80%;
  scale: 1.25;
  background: radial-gradient(ellipse at center, black, transparent, transparent);
}

a:link
{
   color: beige;
   text-decoration: none;
}
a:visited
{
   color: beige;
   text-decoration: none;
}
a:hover
{
   color: beige;
   text-decoration: none;
}
a:active
{
   color: beige;
   text-decoration: none;
}

@keyframes bigger2 {
  0% {
    scale: 1;
    transform: translate(0%, 0%);
  }
  100% {
    scale: 1.1;
    transform: translate(125%, 0%);
  }
}

@keyframes greyScale1 {
  0% {
    filter: grayscale(60%);
  }
  100% {
    filter: grayscale(0%);
  }
}

@keyframes makeTransparent1 {
  0% {
  }
  100% {
    background-color: transparent;
  }
}

.difficultyMenu {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-62.5%, -60%);
  scale: .8;
  user-select: none;
}

#easy {
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-175%, -50%);
  width: 510px;
  height: 880px;
  background-color: #3f3f47;
  border-radius: 20px;
  background:url('bgSpellit-easy.png') no-repeat;
  filter: grayscale(60%);
}
#easyGroup:hover #easy {
  animation: .2s ease-in-out 0s 1 greyScale1;
  animation-fill-mode: forwards;
}
#easyGroup:hover #easy{
  border: 15px solid #344524;
}
#easyGroup:hover {
  animation: .2s ease-in-out 0s 1 bigger1;
  animation-fill-mode: forwards;
  background: url('bgSpellit-easy.png') no-repeat;
  filter: saturate(2);
}
#easyGroup:hover #white1{
  color: aliceblue;
  animation: .15s ease-in-out 0s 1 makeTransparent1;
  animation-fill-mode: forwards;
}

#normal {
  position: absolute;
  width: 510px;
  height: 880px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3f3f47;
  border-radius: 20px;
  background:url('bgSpellit-normal.png') no-repeat;
  filter: grayscale(60%);
}
#normalGroup:hover #normal {
  animation: .2s ease-in-out 0s 1 greyScale1;
  animation-fill-mode: forwards;
}
#normalGroup:hover {
  animation: .2s ease-in-out 0s 1 bigger1;
  animation-fill-mode: forwards;
  filter: saturate(2);
}
#normalGroup:hover #normal{
  border: 15px solid #22394c;
}
#normalGroup:hover #white2{
  color: aliceblue;
  animation: .15s ease-in-out 0s 1 makeTransparent1;
  animation-fill-mode: forwards;
}

#hard {
  float: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(75%, -50%);
  width: 510px;
  height: 880px;
  background-color: #3f3f47;
  border-radius: 20px;
  background:url('bgSpellit-hard.png') no-repeat;
  filter: grayscale(60%);
}
#hardGroup:hover #hard {
  animation: .2s ease-in-out 0s 1 greyScale1;
  animation-fill-mode: forwards;
}
#hardGroup:hover {
  animation: .2s ease-in-out 0s 1 bigger1;
  animation-fill-mode: forwards;
}
#hardGroup:hover #hard{
  border: 15px solid #8d323b;
}
#hardGroup:hover #white3{
  color: aliceblue;
  animation: .15s ease-in-out 0s 1 makeTransparent1;
  animation-fill-mode: forwards;
}

#white1, #white2, #white3 {
  background-color: rgb(204, 212, 212);
  width: 510px;
  height: 293px;
  z-index: 11;
  border-radius: 0px 0px 20px 20px
}

#white1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-175%, 50%);
}
#white2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
#white3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(75%, 50%);
}

#grey1, #grey2, #grey3 {
  background-color: rgb(48, 47, 47);
  width: 510px;
  height: 880px;
  z-index: 11;
  border-radius: 20px;
}

#grey1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-175%, -50%);
  z-index: -1;
}
#grey2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#grey3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(75%, -50%);
  z-index: -1;
}
