.grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    flex-wrap: wrap;
    width: 510px;
    height: 621px;
    z-index: 111; /*change this to 10 later*/
    border: 7px solid black;
    border-radius: 10px 10px 10px 10px;
    animation: arrFade 0s 1 linear;
    font-family: "pasti";
    font-size: 50pt;
  }
  .block {
    flex-basis: 20%;
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
  }

  @font-face {
    font-family: "pasti";
    src: url("C:/Users/snehp/OneDrive/Desktop/Sneh Programs/Spell-it Faster/Fonts/journeyman-line-webfont.woff") format("woff");
  }

  .filled {
    flex-basis: 20%;
    width: 100px;
    height: 100px;
    background-color: rgb(107,112,112);
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
  }
  .filledGreen {
    flex-basis: 20%;
    width: 100px;
    height: 100px;
    background-color: green;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
  }
  .filledRed {
    flex-basis: 20%;
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
  }
  .bottom1 {
    flex-basis: 20%;
    width: 100px;
    height: 100px;
    background-color: rgba(16,60,100);
    border: 2px solid black;
    color: whitesmoke;
  }
  .bottom2 {
    flex-basis: 20%;
    width: 100px;
    height: 100px;
    background-color: rgba(16,60,130);
    border: 2px solid black;
    color: whitesmoke;
  }
  .bottom3 {
    flex-basis: 20%;
    width: 100px;
    height: 100px;
    background-color: rgba(16,60,160);
    border: 2px solid black;
    color: whitesmoke;
  }
  .bottom4 {
    flex-basis: 20%;
    width: 100px;
    height: 100px;
    background-color: rgba(16,60,190);
    border: 2px solid black;
    color: whitesmoke;
  }
  .bottom5 {
    flex-basis: 20%;
    width: 100px;
    height: 100px;
    background-color: rgba(16,60,220);
    border: 2px solid black;
    color: whitesmoke;
  }
  .bottom6 {
    flex-basis: 20%;
    width: 100px;
    height: 100px;
    background-color: rgba(16,60,250);
    border: 2px solid black;
    color: whitesmoke;
  }

  @keyframes arrFade {
    0% {
      opacity: 0%;
    }
    40% {
      opacity: 0%;
    }
    100%{
      opacity: 100%;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 100%;
    }
    40% {
      opacity: 100%;
    }
    100%{
      opacity: 0%;
    }
  }
  @keyframes slowBig {
    0% {
      scale: 100%;
    }
    75% {
      scale: 190%;
    }
    100%{
      scale: 200%;
    }
  }

  #score, #time, #scoreSpan, #timeSpan {
    font-family: pasti;
    color: whitesmoke;
  }

  #score {
    position: absolute;
    top: 82.5%;
    left: 50%;
    transform: translate(-220%, -50%);
    z-index: 12;
  }
  #time {
    position: absolute;
    top: 82.5%;
    left: 50%;
    transform: translate(60%, -50%);
    z-index: 12;
  }

  #gameOver {
    scale: 50%;
    position: absolute;
    top: 0%;
    left: 25%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 100;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0%;
    }
    40% {
      opacity: 0%;
    }
    100%{
      opacity: 100%;
    }
  }

  #gameOverMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 100;
    opacity: 0;
  }
  #submitScrBel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 170%);
    opacity: 0;
    z-index: 100;
    font-family: "pasti";
    color: beige;
    width: 800px;
    height: 100px;
    font-size: 30pt;
    text-align: center;
    line-height: 1;
  }
  
  #username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 290%);
    opacity: 100;
    z-index: 100;
    font-family: "pasti";
    color: #1e1e1e;
    background-color: #F5E9D0;
    border: 2px solid #1e1e1e;
    border-radius: 10px 10px 10px 10px;
    width: 500px;
    height: 80px;
    font-size: 40pt;
  }
  
  #submitButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-125%, 500%);
    opacity: 100;
    z-index: 100;
    font-family: "pasti";
    color: #F5E9D0;
    background-color: #1e1e1e;
    border: 4px solid rgb(27, 27, 27);
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    height: 65px;
    font-size: 35pt;
  }
  
  #submitButton:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-125%, 500%);
    opacity: 100;
    z-index: 100;
    font-family: "pasti";
    color: #1e1e1e;
    background-color: #F5E9D0;
    border: 4px solid #ece5d4;
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    height: 65px;
    font-size: 35pt;
  }

  #leaderButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, 500%);
    z-index: 100;
    font-family: "pasti";
    color: #F5E9D0;
    background-color: #1e1e1e;
    border: 4px solid rgb(27, 27, 27);
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    height: 65px;
    font-size: 35pt;
  }
  #leaderButton:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, 500%);
    z-index: 100;
    font-family: "pasti";
    color: #1e1e1e;
    background-color: #F5E9D0;
    border: 2px solid #1e1e1e;
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    height: 65px;
    font-size: 35pt;
  }
  
  #displayScore, #displayScore2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 100;
    font-family: "pasti";
    color: #F5E9D0;
    width: 600px;
    height: 148px;
    font-size: 70pt;
    background-color: #1e1e1e;
    border: 4px solid rgb(27, 27, 27);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    line-height: 150px;
  }
  
  #restart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, 500%);
    opacity: 100;
    z-index: 100;
    font-family: "pasti";
    color: #F5E9D0;
    background-color: #1e1e1e;
    border: 4px solid rgb(27, 27, 27);
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    height: 65px;
    font-size: 35pt;
    text-align: center;
    line-height: 65px;
  }
  
  #restart:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, 500%);
    opacity: 100;
    z-index: 100;
    font-family: "pasti";
    color: #1e1e1e;
    background-color: #F5E9D0;
    border: 4px solid #ece5d4;
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    height: 65px;
    font-size: 35pt;
    text-align: center;
    line-height: 65px;
  }

  #leaderBoard {
    width: 700px;
    height: 648px;
    font-size: 35px;
    font-family: "pasti";
    color: #1e1e1e;
    background-color: #e4dbc8;
    border: 7px solid black;
    border-radius: 10px 10px 10px 10px;
    z-index: 15;
    position: absolute;
    top: 330%;
    left: 50%;
    margin: -324px 0 0 -350px;
  }
  
  #row1 {
    background-color: gold;
  }
  #row2 {
    background-color: silver;
  }
  #row3 {
    background-color: #C77A31;
  }
  .rowdif {
    background-color: #c4bcab;
    border: 2px solid #1e1e1e;
  }
  .row {
    border: 2px solid #1e1e1e;
  }
  
  #LeaderBoard1 {
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -250%);
    z-index: 100;
    font-family: "pasti";
    color: beige;
    width: 800px;
    height: 100px;
    font-size: 75pt;
    text-align: center;
    line-height: 1;
  }
  
  @keyframes slideUp1 {
    0% {
      top: 300%;
    }
    40% {
      top: 200%;
    }
    100%{
      top: 30%;
    }
  }
  @keyframes slideUp2 {
    0% {
      top: 330%;
    }
    40% {
      top: 230%;
    }
    100%{
      top: 60%;
  
    }
  }
  @keyframes slideUp3 {
    0% {
      top: 350%;
    }
    40% {
      top: 250%;
    }
    100%{
      top: 50%;
    }
  }
  
  #restart2{
    position: absolute;
    top: 350%;
    left: 66%;
    transform: translate(25%, 500%);
    opacity: 100;
    z-index: 100;
    font-family: "pasti";
    color: #F5E9D0;
    background-color: #1e1e1e;
    border: 4px solid rgb(27, 27, 27);
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    height: 65px;
    font-size: 35pt;
    text-align: center;
    line-height: 65px;
  }
  
  #restart2:hover {
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translate(25%, 500%);
    opacity: 100;
    z-index: 100;
    font-family: "pasti";
    color: #1e1e1e;
    background-color: #F5E9D0;
    border: 4px solid #ece5d4;
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    height: 65px;
    font-size: 35pt;
    text-align: center;
    line-height: 65px;
  }
